/__pycache__
/.venv
/exemplo
/src/__pycache__
/src/controller/__pycache__
/src/gui/__pycache__
/src/dto
/src/model/__pycache__
/src/repositories/__pycache__
/src/routes/__pycache__
/src/service/__pycache__

